<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="all test SUITE" verbose="5" data-provider-thread-count="6">
    <parameter name="first-name"  value="Cedric"/>
    <test name="Tests for Task#2">
        <packages>
            <package name="org.example_test.task_2_test"/>
        </packages>
    </test>
    <test name="Tests for Task#10">
        <packages>
            <package name="org.example_test.task_10_test"/>
        </packages>
    </test>
</suite>
